.input-city {
    margin-top: 10px;
    height: 25px;
    width: 130px;
    border: 1px solid #1a1a1a;
}

.input-timeZone {
    margin-top: 10px;
    height: 25px;
    width: 130px;
    border: 1px solid #1a1a1a;
}
