.input-name {
    margin-top: 10px;
    height: 25px;
    width: 120px;
    border: 1px solid #1a1a1a;
}

.input-time-zone {
    margin-top: 10px;
    height: 25px;
    width: 120px;
    border: 1px solid #1a1a1a;
}
