body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: ghostwhite;
}

.container {
    box-sizing: border-box;
    margin: 100px auto;
    width: 500px;
    height: 250px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.button-box {
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: flex-end;
}

.add {
    display: flex;
    height: 27px;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid #1a1a1a;

}

