.add {

}

.form {
    position: relative;
    display: flex;
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
}

.name-input-box {
    display: flex;
    flex-direction: column;
}